---
---

@import "minima";

body {
    font-family: 'Times New Roman', Times, serif;
}

a:hover {
    text-decoration: none;
}

#header {
    background-position: center;
    min-height: 390px;
    position: relative;
    background-size: cover;
}

#header div {
    padding: 100px;
    text-align: center;
    color: white;
}

#header h1 {
    font-weight: bold;
    font-size: 60px;
}

#header span {
    font-size: 25px;
}

#header-page {
    background: rgba(96, 97, 96, 0.2);
}

#header-page h1 {
    font-size: 50px;
}